::placeholder{
    color: var(--light-font-color);
}

.formInput{
    display: flex;
    flex-direction: column;
}

input{
    padding: 10px;
    margin: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--dark-background-color);
    color: var(--light-font-color);
    border-bottom: 1px solid var(--light-border-color);
}
input:focus{
    outline: none;
    border-bottom: 1px solid var(--light-border-color);
}

label{
    /* align-items: center; */
    font-size: 15px;
    color: var(--light-background-color);
}

input:invalid[focused='true']{
    border-bottom: 1px solid red;
}

input:invalid[focused='true'] ~ span{
    display: block;
    font-size: '11px';
    padding: '3px';
    color: 'red';
}

span{
    font-size: 12px;
    padding: 3px;
    color: red;
    display: none
}
