.container{
    width: 50%;
    border-radius: 10px;
    border: 2px solid var(--dark-border-color);
    background-color: var(--dark-background-color);
}

.form{
    padding: 10px;
}

button{
    width: 100%;
    height: 40px;
    padding: 4px;
    background-color: var(--dark-border-color);
    color: var(--light-font-color);
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin: 25px 0px;
}

.data-container{
    border: 5px solid red;
    padding: 10px;
    color: var(--dark-font-color);
    font-weight: bold; 
}
.data-item{
    color: var(--light-font-color);
    font-weight: normal;
}