:root{
  --light-background-color: yellowgreen;
  --dark-background-color: rgb(46, 63, 13);
  --dark-border-color: #61811f;
  --light-border-color: aliceblue;
  --dark-font-color: yellowgreen;
  --light-font-color: aliceblue;
}

body {
  background-color: var(--light-background-color);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
